html,
body,
header,
#Intro{
    height: 100%;
}

#Intro{
    background: url("../../images/pexels-johannes-plenio-1103970.jpg")no-repeat center;
    background-size: cover;
}

hr{
    background-color: white;
}